{% extends "base.html" %}

{% block  title%}
   Reset password
{% endblock %}

{% block content %}

   <form class="form-group" action="" method="post">
      {% csrf_token %}
      {% if form.email.errors %}
          {{form.email.errors}}
      {% endif %}
      <input  type="hidden"  name="next"  value="{{ next }}">
      <h4>Enter your email:</h4>
      {{form.email}}
      <div class="form-group">
         <h5>On these email will sent information with followig instructions. Are you sure you want continue?</h5>
         <a href="{% url 'posts_list_url' %}" class="btn btn-success">Cancel</a>
         <input type="submit" class="btn btn-danger" value="Reset"/>
      </div>
   </form>

{% endblock %}
